body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
}

.centered{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.kontener{
    width: 300px;
    height: 200px;
    border: 2px solid black;
}