/* #root {
  box-sizing: border-box;  
} */



#root {
  background: linear-gradient(180deg,
      rgb(96, 39, 150) 0%,
      rgba(100, 115, 255, 1) 100%);
  
}

html {
  background: linear-gradient(180deg,
      rgb(96, 39, 150) 0%,
      rgba(100, 115, 255, 1) 100%);
  
}

.App {
  padding: 10em;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#edit-note {
  display: grid;
}

#save-edit {
  max-width: 5em;
}

.description {
  font-size: small;
}


.btn {
  margin: 0.3em;
}

.home {
  color: #efefeff3;
}
.home h1 {
  margin-top: 0.4em;
}


#user-data {
 max-width: 20rem;
 margin-bottom: 1em;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}


.note { 
  align-items: center;
  margin: 8px auto;
  color: #fff;
  background: linear-gradient(90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%);

  padding: 16px;
  border-radius: 5px;
  width: 100%;
}

.note:nth-child(5n + 1) {
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%);
}

.note:nth-child(5n + 2) {
  background: linear-gradient(90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%);
}

.note:nth-child(5n + 3) {
  background: linear-gradient(90deg,
      rgb(108, 184, 37) 0%,
      rgb(77, 233, 147) 100%);

}

.note:nth-child(5n + 4) {
  background: linear-gradient(90deg,
      rgb(195, 45, 209) 0%,
      rgb(56, 206, 211) 100%);
}

.note:hover {
  scale: 1.02;
  transition-duration: 300ms;
}