* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
    
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub {
    padding: 2.5rem;
    margin: 0.8rem;
    color: white;
    background-color: rgba(150, 150, 150, 0.411);
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}
.sub h2 {
    font-size: 2rem;
    margin-bottom: 5px;
}
.sub .details {
    margin-top: 10px;
    margin-bottom: 15px;
}

.sub:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}

ul {
    list-style-type: none;
    text-align: left;
}
ul.details li {
    margin: 5px;
}

.price{
    font-size: larger;
    margin: 20px;
}

.subButton {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(59, 141, 96, 0.801);
    width: 150px;
    height: 50px;
    border-radius: 5px;    
    margin-top: 50px;
}

.sub.top {
    border: 2px solid #6ab04c;
}
.fa-solid {
    margin-right: 10px;

}

.listing-badges {
    position: relative;
}
.sub.top span {
    padding: 3px;
    background-color: red;
    position: absolute;
    left: -74px;
    top: -20px;
    width: 130px;
    transform: rotate(-45deg);
}

